@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


nav{
    text-decoration: none;
    color: #035024;

}
nav:hover{
    font-style: #76DC14;
}
nav{
    font-size: 1.1em;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    margin: 0px 50px;

    text-decoration: none;
}
p{
    display: none;
}

@media only screen and (max-width: 600px){
    p{
        display: block;
     }
     
    nav{
        height: 3em;
        border-top: 2px  solid #035024;
        padding: 15px 15px;

        text-decoration: none;
        bottom: 0;
        position: fixed;
        width: 100%;
        text-align: center;
        background: #f5f5f5;

        margin: 0;
    }

}
