@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Lato:wght@700&display=swap');

/* nav{
    text-decoration: none;
    color: #035024;
    background-color: #f5f5f5;
    width: 100%;
    padding: 1em;
} */
nav:hover{
    font-style: #76DC14;
}
nav{
    font-size: 1.1em;
    font-family: 'Lato', sans-serif;

    display: flex;
    justify-content: space-around;

    margin: 0px;
    padding: 0.7em;
    width: 100%;

    background: #E0FFFF;
    /* background: #B0D4BA; */
    text-decoration: none;
    z-index: 1000;


}
#navegacao hr{
    margin: 15px;
    width: 98%;
}
#navegacao p{
    display: none;
}

@media only screen and (max-width: 600px){
    p{
        display: block;
     }
     
    nav{
        height: 3em;
        border-top: 2px  solid #035024;
        padding: 15px 15px;

        text-decoration: none;
        bottom: 0;

        position: fixed;
        bottom: 0;

        width: 100%;
        text-align: center;
        background: #f5f5f5;

        margin: 0;
    }
    hr{
        display: block;
    }

}
