@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Fira+Sans+Condensed&family=Lato:wght@700&family=Staatliches&display=swap');
*{
    margin: 0;
    padding: 0;
}
.containerChat{
    display: flex;
    justify-content: center;
}
.conversas{
    margin-bottom: 20px;
    margin-top: 5px;
    width: 350px;
    height: 600px;

    background-color: #B0D4BA;
    border-radius:  10px 0 0 10px ;

}
.conversa{
    border-radius: 0 10px 10px 0;
    margin-top: 5px;
    margin-bottom: 20px;

    width: 1050px;
    height: 600px;
}
.pessoa{
    font-family: 'Staatliches', cursive;
    height: 50px;
    text-align: center;
  
    width: 100%;
    background: #B0D4BA;

    display: flex;
    justify-content: center;
    padding: 5px;
}
.pessoa img{
    width: 40px;

    border-radius: 50%;
    border: 2px solid #B0D4BA;

    margin-right: 50px;
}
.pessoa p{
    font-size: 1.3em;

}
.conversa .enviarMensagem{
    display: flex;
    justify-content: center;

}
.enviarMensagem input{
    width: 500px;
    height: 40px;

    border-radius: 15px;
    border: none;
    position: absolute;
    bottom: -100px;

    background: #B7CDB7;
}
.enviarMensagem{
    background: #B0D4BA;
    width: 100%;
}
.enviarMensagem button{
    border: none;

    position: absolute;
    bottom: -100px;

    margin-left: 40%;

    background: #B7CDB7 ;

    padding: 10px;
    border-radius: 50%;
    width: 35px;

}
