@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Fira+Sans&display=swap');
*{
    margin: 0;
    padding: 0;

}
body {
    /* background-image: url('https://i.imgur.com/Q4Fdpem.jpg');
    background-size: cover; */
    background: #F3F2EF;
}
#match .containerMatch{
    width: 100%;

    display: flex;
    justify-content: center;

}
#match .cardMatch {
    border-radius: 20px;
    padding: 0px;
    margin-top: 0.5%;


    
    width: 50%;
    height: 505px;
    position: absolute;

    border: 1px solid #99cb89;

    background: #fff;

}
#match .imgMatch{
    border-radius: 20px 2px 2px 20px;
    width:50%;
    
}
#match .txtMatch{
    width: 45%;

    position: absolute;
    top: 10px;
    right: 0;

    margin-left: 20em;
}
#match .txt1Match{
    color: #99cb89;
}
#match .txt2Match{
    color: #02674A;
}
#match .botoesMatch{
    width: 50%;
    display: flex;
    justify-content: space-around;

    margin-bottom: 25px ;

    position: absolute;
    bottom: 0;
    right: 0;

    
}
#match .botoesMatch .opcaoMatch{
    border-radius: 50%;

    width: 45px;
   
    box-shadow: 0 0 20px #d9d9d9;
}
#match .botoesMatch .coracaoMatch{
    border-radius: 50%;
    width: 70px;

    
    box-shadow: 0 0 20px  #d9d9d9;

}
#match button{
    border-radius: 50%;
    border: none;
    
    background: none;
}
@media only screen and (max-width: 600px){
    .container{
        width: 100%;
        margin: 0 auto;
        float: left;
        
    }
    .card{
        width: 100%;
        margin: 20px;

        border: none;
        border-radius: 0px;
    }
    .img{
        width: 100%;

        border-radius: 0px;
        
    }
    .txt{

        width: 100%;
        position:absolute;            
        margin-left: 20em;
    }
    .txt1{
        color: #99cb89;
    }
    .txt2{
        color: #02674A;
    }
    .botoes{
        width: 100%;
        position: absolute;
    }

}