body{
    background-color: #F3F2EF;
    background-image:none ;

    margin: 0;
    padding: 0;

}

*{
    margin: 0;
    padding: 0;
}

#feed .containerFeed{
    width: 100%;

    display: flex;
    justify-content: space-between;

    margin-top: 50px;

    padding: 3%;

}


/* Posts do feed */
#feed .container-postFeed{
    width: 100%;
    /* display: center; */
    justify-content: center;
    margin: 0 3%;
}
#feed .postFeed{ 

    border-radius: 10px;  
    border: 1px solid #C6C6C6;
    width: 550px;

    background: #FFFFFF;

    padding: 1% 1% 1% 1%;

    margin-left: 60px;
    margin-bottom: 15px;
    margin-top: 0;
}
#feed .perfilUsuarioFeed{
    width: 400px;
    margin: 0px;
}
#feed .perfilUsuarioFeed .fotoPerfilFeed{
    width: 2.3em;
    border-radius: 50%;
    margin: 10px;
}
#feed .imagemPostFeed{
  width: 100%;
}
#feed .botoesFeed{
    display: flex;
    justify-content: space-between;
}
#feed .btnFeed{
    border: none;
    background: none;
     /* color: #02735E; */
    /* color: #c3c3c3;
    color: #446677  */
}
/* Perfil de ladinho */
#feed .miniPerfilFeed{
    border: 1px solid #C6C6C6;
    border-radius: 10px;

    background: #FFFFFF;

    width: 260px;
    height: fit-content;

    padding: 10px;

    margin-bottom: 10px;
}

#feed .container-perfilFeed{
    position: sticky;
    top: 105px;
}
#feed .perfil02Feed{
    margin: 1em 0 1em 3.1em ;
    width: 70px;
    
    border-radius: 50%;
}
#feed .descricaoPerfilFeed{
    font-size: 0.7em;
    color: #02735E;
}
/* outro treco que vai ficar do outro lado */
#feed .exploreFeed{
    border: 1px solid #C6C6C6;
    border-radius: 10px;

    background: #FFFFFF;

    width: 260px;
    height: 300px;

    padding: 10px;

}
#feed .exploreFeed li{
    list-style: none;
    font-size: 0.94em;

    margin: 10px;
}
#feed .squadFeed{ 
    width: 300px;
    height: 300px;

    padding-top: 40px;

    position: fixed;
    top: 450px;
}
#feed .exploreFeed{
    position: sticky;
    top: 120px;
}
#feed .squadFeed p{
    width: 0.8em;
    text-align: justify;
    color:  #6C7B8B;

}
/* Treco do lado direito */
#feed .comunidadesFeed{
    border-radius: 10px;
    width: 400px ;
    background: #FFFFFF;
    border: 1px solid #C6C6C6;
    height: 320px;
    padding: 10px;

    position: sticky;
    top:120px;
}
#feed .comunidadesFeed hr{
    width: 100%;
    position: static;
}
#feed .tituloFeed{
    margin-left: 10px;

}
#feed .comunidadesFeed li{
    list-style: none;
    font-size: 0.94em;

    margin: 10px;
}
@media only screen and (max-width: 600px){
    #feed .containerFeed{
        width: 100%;
    
        display: block;    
        margin-top: 40px;
    }

    #feed .comunidadesFeed{
        display: none;
    }
    #feed .miniPerfilFeed{
        display: none;
    }
    #feed .exploreFeed{
        display: none;
    }

    #feed .container-postFeed{
        width: responsive;
        display: responsive;
        justify-content: center;

        margin-left:0px;
    }
    #feed .postFeed{ 
        border-radius: 10px;  
        border: 1px solid #C6C6C6;
        width: 100%;
        height: responsive;
    
        background: #FFFFFF;
    
        padding:0%;
    
        margin-left:0px;
        margin-bottom: 20px;
    }
    #feed .perfilUsuarioFeed{
        width: 400px;
        margin: 0px;
        margin-left:0px;
    }
    #feed .perfilUsuarioFeed .fotoPerfilFeed{
        width: 2.3em;
        border-radius: 50%;
        margin: 10px;
    }
    .copyFeed{
        display: none;
    }
}