body{
    background-color: #F3F2EF;

}

*{
    margin: 0;
    padding: 0;
}

#feed .container{
    width: 100%;

    display: flex;
    justify-content: space-around;

    margin-top: 40px;
}
/* Posts do feed */
#feed .post{ 
    border-radius: 10px;  
    border: 1px solid #C6C6C6;
    width: 50%;
    height: 80%;

    background: #FFFFFF;

    padding: 1% 1% 1% 1%;
}
#feed .perfilUsuario{
    width: 400px;
    margin: 0px;
}
#feed .perfilUsuario .fotoPerfil{
    width: 2.3em;
    border-radius: 50%;
    margin: 10px;
}
#feed .imagemPost{
    width: 100%;
}
.botoesFeed{
    display: flex;
    justify-content: space-between;
}
.btn{
    border: none;
    background: none;
    color: #02735E;
}
/* Perfil de ladinho */
.miniPerfil{
    border: 1px solid #C6C6C6;
    border-radius: 10px;

    background: #FFFFFF;

    width: 200px;
    height: 249px;
}
.perfil02{
    margin: 1.5em 0 1em 4.1em ;
    width: 70px;
    
    border-radius: 50%;
}
.entraPerfil{
    margin-left: 1.5em;
}
.descricaoPerfil{
    font-size: 0.7em;
    color: #02735E;
}
/* outro treco que vai ficar do lado */
.explore{
    border:1px solid #C6C6C6;
    border-radius: 10px;

    background:#FFFFFF;

    width: 200px;
    height: 249px;

    padding: 0.6em;
}
ol{
    width: 100%;
}
li{
    list-style: none;
    margin: 10px;
}