body{
    background-color: #F3F2EF;
}
#forum .TituloPagina{
    text-align: center;
}
#forum .containerForum{
    width: 100%;
    height: 0%;
    
    display: flex;
    justify-content: space-around;
    
    padding: 15px;
    
    
}
.publicaForum {
    width: 100%;
    padding: 15px;

    border-radius: 30px;

    margin-bottom: 20px;

    border: 1.8px solid #2A846B;
}
#forum .nomeDaComunidade .capaComunidade{
    border-radius: 10px 10px 0px 0;
    border: none;

    width: 100%;
    height: 40%;
}
#forum .nomeDaComunidade .perfilCominidade{
    border-radius: 10px;
    position: absolute;
    left: 130px;
    top: 300px;
    border: 2px solid whitesmoke;

    width: 50px;
}
#forum .nomeDaComunidade h3{
    margin-top: 20px;
    text-align: center;
    font-size: 1.3em;
}
#forum .nomeDaComunidade p{
    width: 70%;
    height: 20%;
    margin: 9px;
    font-size: 1em;
    text-align: justify;
}

#forum .post{
    padding: 20px;

    background: #fff;

    border: 1px solid #46996F;
    border-radius: 10px;


    width: 600px;
    height: responsive ;
}
#forum .post hr{
    width: 100%;
}
#forum .nomeDaComunidade{
    background: #fff;

    border: 1px solid #46996F;
    border-radius: 10px;

    width: 300px;
    height: 350px ;
}
#forum .botoesForum{
    margin-left: 20px ;
    margin-right: 20px;
    color: #46996F;
    display: flex;
    justify-content: space-between;
}
#forum .botao{
    border: none;
    color: #2A846B;

    background: transparent;
}
#forum .post img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#forum .postNomeForum{
    display: flex;
    justify-content: flex-start;
}
#forum .postNomeForum p{
    margin-left: 10px;
    margin: 10px;
}
#forum .nomeDaComunidade button{
    display: flex;
    justify-content: center;
    padding: 5px;
    margin-left: 15px;
    border: 1px solid #46996F;
    border-radius: 10px;

    background: transparent;

    height: 40px;
    width: 90%;


}