@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Open+Sans&display=swap');
body {
    background-image: url('https://i.imgur.com/utY4D7N.jpg');
    background-size: cover;
}
*{
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#signup .container{
    width: 70%;
    margin: 0 auto;
    float: left;
    
}
.container-login{
    width: 115%;
    height: 0%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    padding: 15px;

}
.wrapLogin{
    width: 390px;
    background: #f5f5f5;
    border-radius: 10px;

    margin-right: 800px;

    overflow: hidden;
    padding: 77px 55px 33px 55px;
    box-shadow: 0 5px 10px 0px rgba(0,0,0,0.2);
}
.loginForm{
    width: 100%;
}
.loginTitle{
    display: block;
    font-size: 30px;
    color: rgb(7, 5, 5);

    line-height: 1.2;
    text-align: center;

    font-family: 'Fira Sans', sans-serif;
}



/* .loginTitle img{
    width: 90px;
    margin: 20px;

    
    border-radius: 15px;
} */
.wrapInput{
    width: 100%;
    position: relative;
    border-bottom: 2px solid #adadad;
    margin-bottom: 37px;
}
.input{
    font-size: 15px;
    color: #2E8B57;
    line-height: 1.2;
    border: none;
    display: block;

    width: 100%;
    height: 45px;

    background: transparent;

    padding: 0 5px;
}
.focusInput{
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;

    top: 0;
    left: 0;

    pointer-events: none;
    color: #2E8B57
}
.focusInput::before{
    content: "";
    display: block;
    position: absolute;
    bottom: -2px ;
    left: 0;
    width: 0;
    height: 2px;

    -webkit-transition:  all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;

    background: linear-gradient(to left,#32CD32, #40E0D0);

}
.focusInput::after{
    font-size: 15px;
    color: #999;
    line-height: 1.2;

    content: attr(data-placeholder);
    
    display: block;
    width: 100%;
    position: absolute;
    top: 16px;
    left: 0px;

    padding-left: 5px;

    -webkit-transition:  all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;  
}
.input:focus{
    outline: 0;
}
.input:focus + .focusInput::after{
    top:-15px;

}
.input:focus + .focusInput::before{
    width: 100%;
        
}

.temValor + .focusInput::after{
    top: -15px;
}
.temValor + .focusInput::before{
    width: 100% ;
}

 .container-login-form-btn{
     display: flex;
     flex-wrap: wrap;
     justify-content: center ;
     padding-bottom: 13px;

 }
 .login-form-btn button{
    font-size: 15px;
    border: none;
    border-radius: 10px;
    color: #fff;

    line-height: 1.2;

    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;

    width: 100%;
    height: 50px;
    background: linear-gradient(to left, #2E8B57, #32CD32);

}
.login-form-btn{
    font-size: 15px;
    border: none;
    border-radius: 10px;
    color: #fff;

    line-height: 1.2;

    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;

    width: 100%;
    height: 50px;
    background: linear-gradient(to left, #2E8B57, #32CD32);

}
.login-form-a{
    font-size: 15px;
    border: none;
    border-radius: 10px;
    color: #fff;

    text-decoration: none;

    line-height: 1.2;

    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;

    width: 100%;
    height: 50px;
    background: linear-gradient(to left, #2E8B57, #32CD32);

}
.login-form-a:hover{
    color: #fff;
}
.login-form-btn:hover{
    cursor: pointer;   
}

.text-center{
    display: flex    ;
    justify-content: center;
    align-items: center;

    margin-top: 50px;
}
.txt1{
    font-size: 14px;
    color:#2E8B57;
    line-height:  1.5;
    padding-right: 5px;
    text-decoration: none;
}
.txt2{
    font-size: 14px;
    color: #035933;
    line-height:  1.5;
    text-decoration: none;
}
.divButtons{
    display: flex;
    justify-content: space-between;
}





@media only screen and (max-width: 600px){
    .container{
        width: 100%;
        margin: 0 auto;
        float: left;
        
    }

}



